In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
df=pd.read_csv('Test.csv')

In [9]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [11]:
df.count()

Item_Identifier              5681
Item_Weight                  4705
Item_Fat_Content             5681
Item_Visibility              5681
Item_Type                    5681
Item_MRP                     5681
Outlet_Identifier            5681
Outlet_Establishment_Year    5681
Outlet_Size                  4075
Outlet_Location_Type         5681
Outlet_Type                  5681
dtype: int64

In [12]:
sns.lmplot(x='Item_Weight',y='Item_Fat_Content'data='df')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (213866010.py, line 1)

In [13]:
df.info

<bound method DataFrame.info of      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDW58       20.750          Low Fat         0.007565
1              FDW14        8.300              reg         0.038428
2              NCN55       14.600          Low Fat         0.099575
3              FDQ58        7.315          Low Fat         0.015388
4              FDY38          NaN          Regular         0.118599
...              ...          ...              ...              ...
5676           FDB58       10.500          Regular         0.013496
5677           FDD47        7.600          Regular         0.142991
5678           NCO17       10.000          Low Fat         0.073529
5679           FDJ26       15.300          Regular         0.000000
5680           FDU37        9.500          Regular         0.104720

               Item_Type  Item_MRP Outlet_Identifier  \
0            Snack Foods  107.8622            OUT049
1                  Dairy   87.3198            OUT017
2                 Others  241.7538            OUT010
3            Snack Foods  155.0340            OUT017
4                  Dairy  234.2300            OUT027
...                  ...       ...               ...
5676         Snack Foods  141.3154            OUT046
5677       Starchy Foods  169.1448            OUT018
5678  Health and Hygiene  118.7440            OUT045
5679              Canned  214.6218            OUT017
5680              Canned   79.7960            OUT045

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2007         NaN               Tier 2
2                          1998         NaN               Tier 3
3                          2007         NaN               Tier 2
4                          1985      Medium               Tier 3
...                         ...         ...                  ...
5676                       1997       Small               Tier 1
5677                       2009      Medium               Tier 3
5678                       2002         NaN               Tier 2
5679                       2007         NaN               Tier 2
5680                       2002         NaN               Tier 2

            Outlet_Type
0     Supermarket Type1
1     Supermarket Type1
2         Grocery Store
3     Supermarket Type1
4     Supermarket Type3
...                 ...
5676  Supermarket Type1
5677  Supermarket Type2
5678  Supermarket Type1
5679  Supermarket Type1
5680  Supermarket Type1

[5681 rows x 11 columns]>

In [14]:
df.isnull()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,True,False,False
4,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
5676,False,False,False,False,False,False,False,False,False,False,False
5677,False,False,False,False,False,False,False,False,False,False,False
5678,False,False,False,False,False,False,False,False,True,False,False
5679,False,False,False,False,False,False,False,False,True,False,False
5680,False,False,False,False,False,False,False,False,True,False,False

In [15]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [ ]:
x=df[['Item_Identifier',	'Item_Weight',	'Item_Fat_Content',	'Item_Visibility',	'Item_Type',	'Item_MRP',	'Outlet_Identifier',	'Outlet_Establishment_Year',	'Outlet_Size',	'Outlet_Location_Type',	'Outlet_Type']].values

In [17]:
x

NameError: name 'x' is not defined

In [19]:
y=df[['Outlet_Identifier']]

In [20]:
y

     Outlet_Identifier
0               OUT049
1               OUT017
2               OUT010
3               OUT017
4               OUT027
...                ...
5676            OUT046
5677            OUT018
5678            OUT045
5679            OUT017
5680            OUT045

[5681 rows x 1 columns]

In [22]:
from sklearn.impute import SimpleImputer

In [23]:
simpleImputer(missing_values=n)

NameError: name 'simpleImputer' is not defined

In [24]:
from sklearn.preprocessing import LabelEncoder
label_encoder_x=LabelEncoder()
x[:,0]=label_encoder_x.fit_transform(x[:,0])
x

NameError: name 'x' is not defined

In [25]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder=OneHotEncoder()

In [26]:
x=Onehotencoder.fit_transform(df.Item_Weight.value.reshape(-1,1)).toarray()
x

NameError: name 'Onehotencoder' is not defined

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state)

SyntaxError: positional argument follows keyword argument (2817941052.py, line 2)

In [29]:
x_train

NameError: name 'x_train' is not defined

In [ ]:
y_train

In [ ]:
y_test

In [ ]:
from sklearn.preprocessing import standardscaler

In [ ]:
sc_x=StaticmethodScaler()

In [ ]:
df=pd.read_csv('diabetes.csv')

In [ ]:
df

In [ ]:
plt.scatter(x='Pregnancies' ,y='Glucose',data=df)

In [ ]:
df

In [ ]:
x_train,x_test,y_test,y_train( )

In [ ]:
import seaborn as sns
sns.pairplot(df[['Pregnancies',	'Glucose',	'BloodPressure',	'SkinThickness',	'Insulin',	'BMI',	'DiabetesPedigreeFunction',	'Age',	'Outcome']] ,hue='species')

df

In [30]:
from sklearn.linear_model import LogisticRegression
df_lr=LogisticRegression()

In [31]:
df_lr

LogisticRegression()